name: 'Bump Version'

on:
  push:
    branches:
      - 'master'
      
permissions:
  contents: write
  pull-requests: write

jobs:
  bump-version:
    name: 'Bump Version on main'
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout source code'
        uses: 'actions/checkout@v2'
        with:
          ref: ${{ github.ref }}
      - name: 'cat package.json'
        run: cat ./package.json
      - name: 'Automated Version Bump'
        id: version-bump
        uses: 'phips28/gh-action-bump-version@v9.1.4'
        with:
          tag-prefix: 'v'
          minor-wording:  'feat,Feature,Feat'
          major-wording:  'MAJOR,major'
          patch-wording:  'patch,fix,bugfix,fixes'
          rc-wording:     'RELEASE,alpha'
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_ACTION }}
      - name: 'cat package.json'
        run: cat ./package.json
      - name: 'Output Step'
        env:
          NEW_TAG: ${{ steps.version-bump.outputs.newTag }}
        run: echo "new tag $NEW_TAG"
